$font-24: var(--wp--preset--font-size--24);
$font-30: var(--wp--preset--font-size--30);

$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$color-dark-gray: var(--wp--preset--color--dark-gray);
$color-white: var(--wp--preset--color--white);
