$font-16: var(--wp--preset--font-size--16);
$font-20: var(--wp--preset--font-size--20);
$font-22: var(--wp--preset--font-size--22);
$font-24: var(--wp--preset--font-size--24);
$font-28: var(--wp--preset--font-size--28);
$font-30: var(--wp--preset--font-size--30);
$font-40: var(--wp--preset--font-size--40);

$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$color-blue-gray: var(--wp--preset--color--blue-gray);
$color-dark-blue: var(--wp--preset--color--dark-blue);
$color-dark-gray: var(--wp--preset--color--dark-gray);
$color-light-gray: var(--wp--preset--color--light-gray);
$color-white: var(--wp--preset--color--white);
