.is-style-single-post-content-columns {
	position: relative;

	.is-style-static-column {
		position: sticky;
		top: 10px;
		height: calc(100vh - 60px);
		overflow-y: auto;

		@media (max-width: 781px) {
			position: relative;
			height: auto;
		}
	}

	.is-style-post-content-column {
		flex: 1;
		overflow-y: auto;
	}
}
