<!-- wp:group {"className":"is-style-contained-container-width-bg","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"dark-gray","layout":{"type":"default"}} -->
<div
	class="wp-block-group is-style-contained-container-width-bg has-dark-gray-background-color has-background"
	style="
		margin-top: 0;
		margin-bottom: 0;
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--80);
	"
>
	<!-- wp:categories {"className":"is-style-category-list is-style-category-list-dark","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"22"} /-->

	<!-- wp:categories {"displayAsDropdown":true,"showLabel":false,"className":"is-style-category-list is-style-category-list-dropdown is-style-category-list-dropdown-dark","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70","top":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"22"} /-->

	<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"74"} -->
	<h2
		class="wp-block-heading has-white-color has-text-color has-link-color has-74-font-size"
	>
		Blog
	</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"textColor":"white","fontSize":"28"} -->
	<p
		class="has-white-color has-text-color has-link-color has-28-font-size"
		style="
			margin-top: var(--wp--preset--spacing--50);
			margin-bottom: var(--wp--preset--spacing--70);
			padding-top: 0;
			padding-bottom: 0;
		"
	>
		News and insights on all things design by Clay
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:query {"queryId":0,"query":{"perPage":4,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"className":"is-style-slider-query-loop","layout":{"type":"default"}} -->
	<div class="wp-block-query is-style-slider-query-loop">
		<!-- wp:post-template {"layout":{"type":"default"}} -->
		<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
		<div
			class="wp-block-group"
			style="
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-right: 0;
				padding-bottom: 0;
				padding-left: 0;
			"
		>
			<!-- wp:post-featured-image {"isLink":true} /-->

			<!-- wp:group {"className":"blog-25-post-data","layout":{"type":"constrained"}} -->
			<div class="wp-block-group blog-25-post-data">
				<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"16"} /-->

				<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"typography":{"lineHeight":"1.3"}},"textColor":"white","fontSize":"32","fontFamily":"body"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
		<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
		<p></p>
		<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-contained-container","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained","contentSize":"85vw"}} -->
<div
	class="wp-block-group is-style-contained-container"
	style="
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--80);
	"
>
	<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"textColor":"dark-blue","fontSize":"52"} -->
	<h2
		class="wp-block-heading has-dark-blue-color has-text-color has-link-color has-52-font-size"
		style="margin-bottom: var(--wp--preset--spacing--70)"
	>
		Latest
	</h2>
	<!-- /wp:heading -->

	<!-- wp:query {"queryId":1,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"className":"is-style-primary-query-loop"} -->
	<div class="wp-block-query is-style-primary-query-loop">
		<!-- wp:post-template -->
		<!-- wp:post-featured-image {"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}}} /-->

		<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|blue-gray"}}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"textColor":"blue-gray","fontSize":"16"} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}},"typography":{"lineHeight":"1.3"}},"textColor":"dark-blue","fontSize":"30"} /-->

		<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|blue-gray"}}},"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"textColor":"blue-gray","fontSize":"16"} /-->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
		<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
		<p></p>
		<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-contained-container-width-bg","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"backgroundColor":"dark-gray","layout":{"type":"constrained","contentSize":"85vw"}} -->
<div
	class="wp-block-group is-style-contained-container-width-bg has-dark-gray-background-color has-background"
	style="
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--80);
	"
>
	<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"52"} -->
	<h2
		class="wp-block-heading has-white-color has-text-color has-link-color has-52-font-size"
	>
		Design Guides
	</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"textColor":"white","fontSize":"22"} -->
	<p
		class="has-white-color has-text-color has-link-color has-22-font-size"
		style="
			margin-top: var(--wp--preset--spacing--50);
			margin-bottom: var(--wp--preset--spacing--70);
			padding-top: 0;
			padding-bottom: 0;
		"
	>
		Unlock expert insights and practical guidance in our special collection
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[9]},"parents":[],"format":[]},"className":"is-style-vertical-post-query-loop"} -->
	<div class="wp-block-query is-style-vertical-post-query-loop">
		<!-- wp:post-template -->
		<!-- wp:post-featured-image {"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->

		<!-- wp:group {"className":"blog-25-post-data","layout":{"type":"constrained"}} -->
		<div class="wp-block-group blog-25-post-data">
			<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"textColor":"white","fontSize":"16"} /-->

			<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"lineHeight":"1.3"}},"textColor":"white","fontSize":"30"} /-->
		</div>
		<!-- /wp:group -->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
		<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
		<p></p>
		<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-contained-container","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained","contentSize":"85vw"}} -->
<div
	class="wp-block-group is-style-contained-container"
	style="
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--80);
	"
>
	<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","fontSize":"52"} -->
	<h2
		class="wp-block-heading has-black-color has-text-color has-link-color has-52-font-size"
	>
		UI/UX
	</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70","left":"0","right":"0"}}},"textColor":"black","fontSize":"22"} -->
	<p
		class="has-black-color has-text-color has-link-color has-22-font-size"
		style="
			margin-top: var(--wp--preset--spacing--50);
			margin-right: 0;
			margin-bottom: var(--wp--preset--spacing--70);
			margin-left: 0;
			padding-top: 0;
			padding-bottom: 0;
		"
	>
		Unlock expert insights and practical guidance in our special collection
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:query {"queryId":1,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"className":"is-style-secondary-query-loop"} -->
	<div class="wp-block-query is-style-secondary-query-loop">
		<!-- wp:post-template -->
		<!-- wp:post-featured-image {"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}}} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"typography":{"lineHeight":"1.2"},"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}}},"textColor":"dark-blue","fontSize":"24"} /-->

		<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|blue-gray"}}},"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"0"}}},"textColor":"blue-gray","fontSize":"16"} /-->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
		<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
		<p></p>
		<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blog-theme-25","area":"footer"} /-->
