<!-- wp:group {"className":"is-style-contained-container","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"white","layout":{"type":"constrained","contentSize":"85vw"}} -->
<div
	class="wp-block-group is-style-contained-container has-white-background-color has-background"
	style="
		margin-top: 0;
		margin-bottom: 0;
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--50);
	"
>
	<!-- wp:categories {"className":"is-style-category-list is-style-category-list-light","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"22"} /-->

	<!-- wp:categories {"displayAsDropdown":true,"showLabel":false,"className":"is-style-category-list is-style-category-list-dropdown-light","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70","top":"0","right":"0","left":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"22"} /-->

	<!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"typography":{"lineHeight":"1.1"}},"textColor":"dark-blue","fontSize":"74"} /-->

	<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
	<div
		class="wp-block-columns"
		style="margin-bottom: var(--wp--preset--spacing--60)"
	>
		<!-- wp:column {"width":"66.66%"} -->
		<div class="wp-block-column" style="flex-basis: 66.66%">
			<!-- wp:post-excerpt {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"typography":{"lineHeight":"1.4"}},"textColor":"dark-blue","fontSize":"28"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"33.33%"} -->
		<div class="wp-block-column" style="flex-basis: 33.33%"></div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group">
			<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}}},"textColor":"dark-blue","fontSize":"16"} -->
			<p
				class="has-dark-blue-color has-text-color has-link-color has-16-font-size"
			>
				By
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:post-author-name {"style":{"elements":{"link":{"color":{"text":"var:preset|color|light-gray"}}}},"textColor":"light-gray","fontSize":"16"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:separator {"className":"is-style-single-dot-separator","style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
		<hr
			class="wp-block-separator has-alpha-channel-opacity is-style-single-dot-separator"
			style="margin-top: 0; margin-bottom: 0"
		/>
		<!-- /wp:separator -->

		<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|light-gray"}}}},"textColor":"light-gray","fontSize":"16"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-contained-container","style":{"spacing":{"padding":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div
	class="wp-block-group is-style-contained-container"
	style="padding-bottom: 0"
>
	<!-- wp:columns {"className":"is-style-single-post-content-columns"} -->
	<div class="wp-block-columns is-style-single-post-content-columns">
		<!-- wp:column {"width":"25%","className":"is-style-static-column"} -->
		<div class="wp-block-column is-style-static-column" style="flex-basis: 25%">
			<!-- wp:blog-theme-25/table-of-content /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"50%","className":"is-style-post-content-column"} -->
		<div
			class="wp-block-column is-style-post-content-column"
			style="flex-basis: 50%"
		>
			<!-- wp:post-content /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"25%","className":"is-style-static-column"} -->
		<div class="wp-block-column is-style-static-column" style="flex-basis: 25%">
			<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"top":"0","bottom":"var:preset|spacing|50"}},"color":{"background":"#fafafa"}},"layout":{"type":"constrained"}} -->
			<div
				class="wp-block-group has-background"
				style="
					background-color: #fafafa;
					padding-top: 0;
					padding-bottom: var(--wp--preset--spacing--50);
				"
			>
				<!-- wp:image {"id":825,"sizeSlug":"large","linkDestination":"none","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
				<figure
					class="wp-block-image size-large"
					style="margin-top: 0; margin-bottom: 0"
				>
					<img
						src="http://localhost:10018/wp-content/uploads/2025/02/d52788dc431e0b6753cbaa97939324b7-1-1024x542.jpg"
						alt=""
						class="wp-image-825"
					/>
				</figure>
				<!-- /wp:image -->

				<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30","padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
				<div
					class="wp-block-group"
					style="
						padding-right: var(--wp--preset--spacing--40);
						padding-left: var(--wp--preset--spacing--40);
					"
				>
					<!-- wp:paragraph -->
					<p><strong>About Clay</strong></p>
					<!-- /wp:paragraph -->

					<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.4"}},"fontSize":"16"} -->
					<p class="has-16-font-size" style="line-height: 1.4">
						Clay is a UI/UX design &amp; branding agency in San Francisco. We
						team up with startups and leading brands to create transformative
						digital experience. Clients: Facebook, Slack, Google, Amazon, Credit
						Karma, Zenefits, etc.
					</p>
					<!-- /wp:paragraph -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->

			<!-- wp:paragraph {"align":"center"} -->
			<p class="has-text-align-center">Share this article</p>
			<!-- /wp:paragraph -->

			<!-- wp:social-links {"customIconColor":"#010101","iconColorValue":"#010101","customIconBackgroundColor":"#dedede","iconBackgroundColorValue":"#dedede","className":"is-style-default","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
			<ul
				class="wp-block-social-links has-icon-color has-icon-background-color is-style-default"
				style="
					margin-top: var(--wp--preset--spacing--40);
					margin-bottom: var(--wp--preset--spacing--40);
				"
			>
				<!-- wp:social-link {"url":"https://x.com/","service":"x"} /-->

				<!-- wp:social-link {"url":"https://www.facebook.com/","service":"facebook"} /-->

				<!-- wp:social-link {"url":"https://www.linkedin.com/","service":"linkedin"} /-->
			</ul>
			<!-- /wp:social-links -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-contained-container","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained","contentSize":"85vw"}} -->
<div
	class="wp-block-group is-style-contained-container"
	style="
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--80);
	"
>
	<!-- wp:post-terms {"term":"category","separator":"","prefix":"More on ","className":"blog-theme-25-categories-heading","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"45"} /-->

	<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70","left":"0","right":"0"}}},"textColor":"black","fontSize":"22"} -->
	<p
		class="has-black-color has-text-color has-link-color has-22-font-size"
		style="
			margin-top: var(--wp--preset--spacing--50);
			margin-right: 0;
			margin-bottom: var(--wp--preset--spacing--70);
			margin-left: 0;
			padding-top: 0;
			padding-bottom: 0;
		"
	>
		Unlock expert insights and practical guidance in our special collection
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"className":"is-style-archive-query-loop"} -->
	<div class="wp-block-query is-style-archive-query-loop">
		<!-- wp:post-template -->
		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}}} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"typography":{"lineHeight":"1.2"},"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"}}}},"textColor":"dark-blue","fontSize":"24"} /-->

		<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|blue-gray"}}},"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"0"}}},"textColor":"blue-gray","fontSize":"16"} /-->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
		<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
		<p></p>
		<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blog-theme-25","area":"footer"} /-->
