.wp-block-categories-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	list-style: none;

	li {
		a {
			text-decoration: none;
			padding-bottom: 8px;

			display: inline-block;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 1px;
				bottom: 0;
				left: 0;
				transition: transform 0.25s ease-out;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}

		&.current-cat {
			border-bottom: 1px solid $color-dark-gray;

			a {
				&:hover::after {
					transform: scaleX(0);
				}
			}
		}
	}
}

.is-style-category-list-dark {
	li {
		a {
			color: #fff;
			&::after {
				background-color: #fff;
			}
		}
	}
}

.is-style-category-list-light {
	li {
		a {
			color: $color-dark-gray;

			&::after {
				background-color: $color-dark-gray;
			}
		}
	}
}
